@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #140000;

  --color-light-100: #ff8b8b;
  --color-light-200: #ffc7c7;

  --color-gray-100: #9ca4ab;

  --color-dark-100: #230d0d;

  --font-dm-sans: DM Sans, sans-serif;

  --breakpoint-xs: 480px;

  --background-image-hero-pattern: url("/hero-bg.png");
}

@layer base {
  body {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    background: #140000;
  }

  h1 {
    @apply mx-auto max-w-4xl text-center text-5xl font-bold leading-tight tracking-[-1%] text-white sm:text-[64px] sm:leading-[76px];
  }

  h2 {
    @apply text-2xl font-bold text-white sm:text-3xl;
  }

  main {
    @apply min-h-screen relative bg-primary;
  }

  header {
    @apply sm:mt-10 mt-5;
  }

  header img {
    @apply w-full max-w-lg h-auto object-contain mx-auto drop-shadow-md;
  }
}

@layer components {
  .pattern {
    @apply bg-hero-pattern w-screen h-screen bg-center bg-cover absolute z-0;
  }

  .wrapper {
    @apply px-5 py-12 xs:p-10 max-w-7xl mx-auto flex flex-col relative z-10;
  }

  .trending {
    @apply mt-20;

    & div {
       @apply flex flex-row gap-6 w-full py-10 overflow-scroll hide-scrollbar mt-10;
    }

    & ul {
      @apply flex flex-row gap-6 w-fit;
    }

    & ul li {
      @apply flex flex-col w-[200px] md:w-[150px] h-fit justify-start bg-white/20 px-2 py-2 rounded-2xl shadow-inner shadow-light-100/20 gap-4;
    }

    & ul li .link{
      @apply flex flex-col text-center justify-center gap-4;
    }

    & ul li p {
      @apply text-white text-sm line-clamp-1
    }

    /* & ul li .items {
      @apply w-fit min-w-[230px] flex flex-row gap-2 items-center;
    } */

    /* & ul li p.num {
      @apply h-full fancy-text text-nowrap;
    } */

    & ul li img {
      @apply w-full h-[163px] rounded-lg object-cover ;
    }
  }
 
  .search {
    @apply w-full bg-light-100/10 px-4 py-3 rounded-lg mt-10 max-w-3xl mx-auto border-[1px] border-white/10;

    & div {
      @apply relative flex items-center;
    }

    & img {
      @apply absolute left-2 h-5 w-5;
    }

    & input {
      @apply w-full bg-transparent py-2 sm:pr-10 pl-10 text-base text-gray-200 placeholder-light-200 outline-hidden;
    }
  }

  .all-movies {
    @apply space-y-9;

    & ul {
      @apply grid grid-cols-1 gap-5 xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4;
    }
  }

  .movie-card {
    @apply bg-dark-100 p-5 rounded-2xl shadow-inner shadow-light-100/10 cursor-pointer;

    & img {
      @apply rounded-lg lg:scale-90 w-full;
    }

    & h3 {
      @apply text-white font-bold text-base line-clamp-1;
    }

    & .content {
      @apply mt-2 flex flex-row items-center flex-wrap gap-2;
    }

    & .rating {
      @apply flex flex-row items-center gap-1;
    }

    & .rating img {
      @apply size-4 object-contain;
    }

    & .rating p {
      @apply font-bold text-base text-white;
    }

    & .content span {
      @apply text-sm text-gray-100;
    }

    & .content .lang {
      @apply capitalize text-gray-100 font-medium text-base;
    }

    & .content .year {
      @apply text-gray-100 font-medium text-base;
    }
  }

  .poster {
    @apply grid grid-cols-4 lg:gap-5 p-3 lg:p-5 rounded-2xl shadow-inner shadow-light-100/10;

    & img {
      @apply w-full;
    }
  }
}

@utility text-gradient {
  @apply bg-linear-to-r from-[#ffc7c7] to-[#ef2929] bg-clip-text text-transparent;
}

@utility fancy-text {
  -webkit-text-stroke: 5px rgba(251, 206, 206, 0.5);
  font-size: 90px;
  font-family: "Bebas Neue", sans-serif;
}

@utility hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}